body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background: #ffff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}


.container {
text-align: center;
}


.logo {
width: 500px;
margin-bottom: 5px;
}


h1 {
font-size: 2.5rem;
margin-bottom: 40px;
color: #333;
}


.btn {
display: block;
padding: 15px 30px;
margin: 10px auto;
width: 200px;
background: #0077cc;
color: white;
text-decoration: none;
font-size: 1.2rem;
border-radius: 8px;
transition: background 0.3s ease;
}


.btn:hover {
background: #005fa3;
}